:root{
    --text-color: #FFFFFF;
    --background: #242B33;
    --accent-color: #D4C17F;
    --footer-color: 
    rgba(255, 255, 255, 1);
    --label-color:#E7E7E7;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
html{
    scroll-behavior: smooth;
}
body{
   background-color: var(--background);
   color: var(--text-color);

   font-family: 'Raleway' , sans-serif;
   font-weight: 400;
   font-size: 14px;
   
}
h1, h2, p, ul{
    margin: 0;
    padding: 0;
}
.list{
    list-style: none;
}
img{
    max-width: 100%;
}

.container{
    max-width: 1110px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
   
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 25px;

}
.menu__link{
    color: var(--text-color);
    text-decoration: none;
    line-height: 1.14;
   
}
.menu__link:hover{
   color: var(--accent-color);
}
.menu{
    display: flex;
}
.menu__item{
    margin-right: 42px;
    
}
.section{
 padding: 90px 0;
}
.hero-section{
    padding: 200px 0 74px;
    background-image:url('../images/Rectangle\(1\).jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--background);
    background-attachment: fixed ;
}

.hero-title{
    font-family: 'Playfair Display' , sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height:1.3333;
    text-align: center;
    max-width: 556px;
    width: 100%;
    margin: 0 auto 300px;
    color: var(--accent-color);
}
.hero-title::after{
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(../images/mouse.svg);
    background-size: 2.5rem 2.5rem ;
    content: '';
    margin: 100px auto 0;
}
.adress-info{
    display: flex;
    justify-content: space-evenly;
    
}

.hero-place{
    display: inline-flex;
    align-items: center;
    color: var(--text-color);
    text-decoration: none;
    justify-content: center;
}
.hero-place:hover{
    color: var(--accent-color);
    text-decoration: underline;
}
.hero-icon{
    width: 21px;
    height: 21px;
    margin-right: 8px;
    fill: currentColor;
}

.hero-adress{
    font-size: 18px;
    line-height: 1.1666;
    color: var(--text-color);
    font-style: normal;
    text-decoration: none;
    cursor: pointer;
    font-style: normal;

}

.section-logo{
    margin-top: 100px;
}
.visually-hidden { 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    border: 0; 
    padding: 0; 
    white-space: nowrap; 
    clip-path: inset(100%); 
    clip: rect(0 0 0 0); 
    overflow: hidden; 
  } 
  .logo-info{
      display: flex;
      text-align: center;
      justify-content: center;
      margin:-32px;
      flex-wrap: wrap;
      align-items: center;
}
  .logo-item{
      padding:32px;
    }

    .img-logo{
        width: 80px;
        height: 80px;
        margin-bottom: 48px;
    }
  .text-logo{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.35;
    width: 193px;
    padding-bottom: 189px;

    text-align: center;
  }
.flat-section{
    padding-top: 0px;
}
.sigh-container{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

 .flat-title{
     font-family: 'Playfair Display' , sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.3333;
    color: var(--accent-color);
    margin-bottom: 50px;
 } 
 .flat-link{
    display: flex;
    flex-wrap: wrap;
 }
 .flat-text{
    font-size: 24px;
    line-height: 1.16;
    display: block;
    position: absolute;
    bottom: 50px;
    left: 50px;
 }
 .flat-item{
     flex-basis: calc(100%/2);
     padding: 1rem;
     position: relative;
 }
 .img-flat{
     max-width: 100%;
     object-fit: cover;
     height: 100%;
 }

 /*table*/
 table {
    border-collapse: collapse;
    width: 1100px;
    
}
    table th,
table td {
  padding: 15px;
  border:  1px solid #FFFFFF;}

 .table{
    font-size: 24px;
    line-height: 1.16;
    margin-bottom: 22px;
    text-align: left;
    
    color:var(--text-color)
 }
 .sigh-text{
   width: 535px;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
 }
 .first-sigh{
     margin-right: 35px;
 }
 .name-container{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
 }

 .check-name,
 .check-phone{
     width: 255px;
     height: 50px;
     text-align: center;
     color: var(--footer-color);
     opacity: 0.2;
 }
 .check-phone{
     margin-bottom: 35px;
 }
 .label-name{
    font-size: 13px;
    line-height: 1.2;
    
    text-align: center;
    width: 255px;
    height: 28px;
    padding-top: 46px;    
    color: var(--label-color);
 }
 .submit-button{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
 }
 .check-button{
     width: 255px;
     height: 50px;

     font-weight: 700;
    font-size: 16px;
    line-height: 1.69;
   
    
    text-align: center;

    color: var(--text-color);
     background:var(--accent-color);
     box-shadow: 0px 0px 2px 2px rgba(212, 193, 127, 0.2);
 }


 /*Video*/

 .visually-hidden { 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    border: 0; 
    padding: 0; 
    white-space: nowrap; 
    clip-path: inset(100%); 
    clip: rect(0 0 0 0); 
    overflow: hidden; 
} 
.icon-video{
    position: relative;
}

.picture-video{
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    
}
.iconvideo{
    width: 100px;
    height: 100px;
}

 .advertising-section{
     background-image:url(../images/bgc2.jpg) ;
     background-repeat: no-repeat;
     background-size: cover;
     width: 100%;
    }

    .question{
        display: flex;
    justify-content: center;
    align-items: baseline;
    }

    .question .label-name{
        margin-right: 35px;
    }
    .question .check-name{
        margin-right: 30px;
    }
    .question .check-phone{
        margin-right: 30px;
    }

.socials{
    margin-top: 72px;
    margin-bottom: 60px;
}
    .footer-logo{
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-between;
     }


   .img-logo{
       margin-top: 0px;
      
       width: 165px;
       height: 66px;
   }
   .footer-text{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.05em;
    text-decoration: none;
    color:var(--footer-color);
    font-style: normal;
   }
 
   .footer-text span{
       color: var(--accent-color);
   }
   .footer-list .item, .footer-phone .item{
       margin-bottom: 15px;
   }
  
.instagram-icon{
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
  
}

.instagram-item{
    width: 44px;
    height: 44px;
    padding: 0;
    background-color: var(--button-text-color);
    border-radius: 50%;
    border: none;
    margin-right: 5px;
    margin-left: -12px;
    color: var(--icon-border);
    padding: 12px;
}
.instagram-item:hover{
    background-color: var(--accent-color);
    color: var(--button-text-color);
}
.instagram{
    fill: currentColor;
    width: 20px;
    height: 20px;
}
  .footer-phone{
      margin-right: 100px;
  }  

  .backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1) ;
}
.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}
.backdrop.is-hidden .modal{
    transform: translate(-50%,-50%) ;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;

    width: 536px;
    height: 1461px;
 
    background: #242B33;
box-shadow: 0px 0px 6px 6px rgba(255, 255, 255, 0.25);
border-radius: 4px;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1) ;
}

.close-icon{
position: absolute;
top: 7px;
right: 7px;
width: 24px;
 height: 24px;
 cursor: pointer; 
 transition: color 250ms var(--cubic);
}
.close-icon:hover{
    color: var(--accent-color);

}
